[package]
name = "glyph"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "gly"
path = "src/main.rs"

[dependencies]
chrono = "0.4"
anyhow = "1.0.80"
crossterm = { version = "0.27.0", features = ["event-stream"] }
tree-sitter = "0.20.10"
tree-sitter-rust = "0.20.4"
serde = { version = "1.0.196", features = ["derive"] }
toml = "0.8.10"
dirs = "5.0.1"
serde_json = "1.0.113"
tokio = { version = "1.36.0", features = ["full"] }
futures-timer = "3.0.2"
futures = "0.3.30"
futures-util = "0.3.30"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tracing-appender = "0.2.3"
cassowary = "0.3.0"
itertools = "0.12.1"
